<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.google.mapper.UserMapper">
    <select id="loadUser" resultType="users" parameterType="users">
        select * from users where userName=#{userName} and userPwd=md5(#{userPwd})
    </select>
</mapper>
